@model DataAccess.Database.Table.Customer
@{
    ViewData["Title"] = "PrintCustomer";
}

<h1>PrintCustomer</h1>

<div>
    <form method="post">
        <input type="text" placeholder="Username" name="username" />
        <button type="submit">Get customer</button>
    </form>
    <table>
        <thead>
            <tr>
                <td>Customer ID</td>
                <td>Username</td>
                <td>Password</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.CustomerID</td>
                <td>@Model.Username</td>
                <td>@Model.Password</td>
            </tr>
        </tbody>
    </table>
</div>
