@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<body>
    <div>
        <form id="login" method="post">
            <label>Username</label>
            <input type="text" name="UserName" />
            <br />
            <label>Password</label>
            <input type="password" name="Password" />
            <br />
            <button name="loginBtn" type="submit">Log in</button>
        </form>
    </div>
    <div>
        @{
            if (ViewBag.User != null)
            {
                <p>Kirjautuminen onnistui</p>
                foreach (var a in ViewBag.User)
                {
                    <h3>@a.UserName</h3>
                    <h3>@a.Password</h3>
                }
            }
            else
            {
                <p>Kirjautuminen epäonnistui</p>
            }
        }
    </div>
    <div>
        
    </div>


</body>
</html>